.mainBtns {
  min-width: 80px;
  height: 35px;
  text-transform: capitalize;
  color: gray;
  font-family: var(--nunito);
  font-size: 15px;
  letter-spacing: 1.1px;
  border-radius: 2px;
  background: #ce6816;
  align-items: center;
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.801);
  transition: all 0.3s ease;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.mainBtns span {
  color: #e7e7e7 !important;
}

.mainBtns:hover {
  transform: scale(1.1);
}

.overall {
  display: flex;
  align-items: center;
  justify-content: center;
}
