@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Marhey:wght@500;600&family=Nunito+Sans:wght@300&family=Poppins&display=swap");

.topnav {
  font-family: var(--font-roboto);
  background-color: #333;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Style the links inside the navigation bar */
.wordings {
  font-family: var(--font-roboto);
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  height: 100%;
  font-size: 17px;
}

/* Change the color of links on hover */
.wordings:hover {
  background-color: #ce6816;
  color: black;
}

/* Add a color to the active/current link */
.wordings.active {
  background-color: #ce6816;
  color: white;
}
.toLeft {
  margin-left: auto !important;
}
