input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
}
  
.char {
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
}
  
.screen {
    outline-style: dashed;
    outline-width: 2px;
    width: 25%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overall {
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
  