@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Marhey:wght@500;600&family=Nunito+Sans:wght@300&family=Poppins&display=swap");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  color: gray;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --nunito: "Nunito Sans", sans-serif;
  --border-color: #2b2a2a;
}
.mainIcons {
  color: #ce6816 !important;
  fill: #ce6816 !important;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
}

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* .movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
} */

.MuiPaginationItem-textPrimary.Mui-selected {
  color: #ffffff !important;
  background-color: #ce6816 !important;
  font-family: var(--nunito) !important;
}
.mainBtns {
  min-width: 80px;
  height: 35px;
  text-transform: capitalize;
  color: gray;
  font-family: var(--nunito);
  font-size: 15px;
  letter-spacing: 1.1px;
  border-radius: 2px;
  background: #ce6816;
  align-items: center;
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.801);
  transition: all 0.3s ease;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}
.mainBtns span {
  color: #e7e7e7 !important;
}
.mainBtns:hover {
  transform: scale(1.1);
}
.chakraModal {
  box-shadow: -1px 0px 8px 4px #0a0b0c5c !important;
}
.navIcons {
  width: 20px !important;
  fill: #e7e7e7 !important;
}
.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
  background-color: #ce6816 !important;
}
.css-1exqwzz-MuiSnackbarContent-message {
  color: white !important;
  letter-spacing: 1.1px;
  font-family: "poppins" !important;
}
.chakraModal {
  width: 35% !important;
}
.loginBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 15px;
}
.loginForm {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.forgotPasswordText {
  font-size: 11px;
  cursor: pointer;
  letter-spacing: 1.1px;
}

.authBottomBox {
  display: flex;
  gap: 15px;
}

.authBottomText {
  font-size: 11px;
  letter-spacing: 1.1px;
  cursor: pointer;
}
.loginForm input,
select {
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  padding: 0 7px;
  font-family: var(--nunito);
  background-color: #29292900;
  background: #272727;
  border: 0.3px solid rgb(43 43 43);
  /* -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527; */
}

.loginForm button {
  margin: 1rem 0;
  width: 105px;
  text-align: center;
  background-color: #ce6816;
  padding: 7px;
}
.loginForm input::placeholder {
  letter-spacing: 1.1px;
}
.loginHeader {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Marhey", cursive !important;
}
.authBottomBox {
  margin-top: 1rem;
}
.authBottomBox span:hover {
  color: #ce6816;
}
.appName_loginModal {
  color: #ce6816;
}
.loginHeaderInnerBox {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .chakraModal {
    width: 70% !important;
  }
}
